.chatMessage {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .messageBubble {
        padding: 1rem 1.5em;
        border-radius: 1rem;
        max-width: 70%;
    }

    &.user {
        .messageBubble {
            align-self: flex-end;
            background: var(--primary);
            color: var(--container-color);
        }
    }

    &.assistant {
        .messageBubble {
            align-self: flex-start;
            background: var(--container-color);
            color: var(--color);
            border: solid 0.5px var(--border-color);
        }
    }
}
