.chatMessage {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    &.user {
        .messageBubble {
            align-self: flex-end;
            background: var(--primary);
            color: var(--container-color);
        }
    }

    &.assistant {
        .messageBubble {
            align-self: flex-start;
            background: var(--container-color);
            color: var(--color);
            border: solid 0.5px var(--border-color);
        }
    }

    .messageBubble {
        padding: 1rem 1.5em;
        border-radius: 1rem;
        max-width: 70%;
    }

    .blinkingCursor {
        display: inline-block;
        margin-left: 4px;
        animation: blink 1s steps(1) infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    .feedback {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
    }
}
