.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 48rem;
    height: 100dvh;
    margin: 0 auto;

    .greeting {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.25;
        margin-top: calc(50% - var(--header-height) - 8rem);
        margin-bottom: 3rem;

        .dark {
            color: var(--primary);
        }

        .light {
            color: var(--muted);
        }
    }

    .messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-inline: 1.5rem;
    }
}
